<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- controller -->
	<bean id="mvc_controller" class="bean.MvcController"/>
	
<!-- view resolver -->
	<bean id="view_resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="./mvc/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
</beans>